@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Obsidian Interface Palette */
  --void-base: #050505;
  --void-glass: rgba(20, 20, 25, 0.65);
  --aether-light: #00f3ff;
  --obsidian-highlight: #2b2b33;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--void-base);
  color: white;
  overflow: hidden; /* Prevent scrollbars on full screen game */
}

/* Glassmorphism Utility */
.obsidian-panel {
  background: var(--void-glass);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid var(--obsidian-highlight);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.text-aether {
  color: var(--aether-light);
  text-shadow: 0 0 10px rgba(0, 243, 255, 0.5);
}
